@import "../../../global/variables";

.container {
  max-width: fit-content;
  margin: 6rem auto 5rem;
  display: flex;
  column-gap: 1rem;
  padding: 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}

