// font weights
$regular: 400;
$bold: 700;
$black: 900;
// fonts
$monospace: 'Inconsolata',
monospace;
$sans-serif: 'Inter',
sans-serif;
// colors
$light-green: #00BEBC;
$primary-green: #00615f;
$light-yellow: #E8DDCB;
$dark-blue: #020f25;
$light-blue: #5d6e8b;
// padding
$safe-area-padding: 0 40px;
$section-padding: 0 40px 0 180px;
// break points
$mobile: 576px;
$tablet: 768px;