// font weights
$regular: 400;
$bold: 700;
$black: 900;
// fonts
$monospace: 'Inconsolata',
monospace;
$sans-serif: 'Inter',
sans-serif;
// colors
$light-green: #00BEBC;
$primary-green: #00615f;
$light-yellow: #E8DDCB;
$dark-blue: #031634;
// padding
$safe-area-padding: 0 40px;