// font weights
$regular: 400;
$bold: 700;
$black: 900;
// fonts
$monospace: 'Inconsolata',
monospace;
$sans-serif: 'Inter',
sans-serif;
// colors
$sapphire-blue: #617f8d;
$azure: #d3e1e2;
$celadon-blue: #247ba0;
$prussian-blue: #102030;
$carolina-blue: #3ba4e0;
// padding
$safe-area-padding: 0 40px;
$section-padding: 0 40px 0 180px;
// break points
$mobile: 576px;
$tablet: 768px;