@import "../../../global/variables";

.paragraph {
  max-width: 32rem;
  line-height: 1.5rem;
}

.link {
  padding: 2px 8px;
  background-color: $C-03;
  color: $C-01;
  border-radius: 3px;
  text-decoration: none;
  margin: 0 5px;
  font-family: $BOLD;
  font-size: 0.9rem;
  transition: all 0.2s;

  &:hover {
    opacity: 0.8;
  }
}