@import "../../../global/variables";

.title,
.description,
.techs-container {
  margin-bottom: 1rem;
}

.title {
  font-size: 0.9rem;
  font-family: $BOLD;

  @media (max-width: 480px) {
    text-align: center;
  }
}

.description {
  font-size: 0.8rem;
  line-height: 1.1rem;

  @media (max-width: 480px) {
    margin: 0 auto 1rem;
    max-width: 18rem;
    text-align: center;
  }
}

.tech {
  padding: 2px 8px;
  background-color: $C-04;
  color: $C-02;
  border-radius: 3px;
  text-decoration: none;
  font-family: $BOLD;
  font-size: 0.65rem;
}

.techs-container {
  display: flex;
  column-gap: 0.5rem;

  @media (max-width: 480px) {
    justify-content: center;
  }
}